{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Тренеры{% endblock %}

{% block description %}Тренеры GymStudio Омск. Почитайте и выберите себе тренера.{% endblock %}

{% block keywords %}персональный тренер омск, тренеры джимстудио, тренер омск{% endblock %}

{% block content %}
    <!-- contacts page content-->
    <section class="page-header membership-header bg-darken">
        <h1 data-aos="zoom-in-down" data-aos-duration="500" class="aos-init aos-animate">Контакты</h1>
    </section>

    <section class="content-block contacts">
        <div class="container">
            <div class="row contacts-row">
                <div class="col-md-9">

                    <!-- Contact Form -->
                    <form class="contact-form">
                        <div class="row">

                            <!-- Name Input -->
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Ваше имя" class="form-control"/>
                            </div>

                            <!-- Email Input -->
                            <div class="col-md-6 form-group">
                                <input type="email" placeholder="Email" class="form-control"/>
                            </div>
                        </div>

                        <!-- Subject Input -->
                        <div class="form-group">
                            <input type="text" name="subject" placeholder="Тема" class="form-control"/>
                        </div>

                        <!-- Message Input -->
                        <div class="form-group">
                            <textarea placeholder="Сообщение" rows="7" class="form-control contact-message"></textarea>
                        </div>

                        <!-- Send Message Button -->
                        <button type="submit" class="btn btn-full-width btn-primary">Отправить сообщение</button>
                    </form>
                </div>
                <div class="col-md-3">

                    <!-- Phone Numbers -->
                    <div class="contact-item contact-item-phone">
                        <h6>Позвонить нам</h6>
                        <p><a href="tel:+73812320500">+7(3812)320-500</a></p>
                        <p><a href="tel:+73812207169">+7(3812)20-71-69</a></p>
                    </div>

                    <!-- Email Address -->
                    <div class="contact-item contact-item-mail">
                        <h6>Написать Email</h6>
                        <p><a href="mailto:vlando69@mail.ru">vlando69@mail.ru</a></p>
                    </div>

                    <!-- Address -->
                    <div class="contact-item contact-item-address">
                        <h6>Наш адрес</h6>
                        <p>Карла Маркса просп., 32, Омск, Омская обл., 644042
                            <a href="https://yandex.ru/maps/66/omsk/?ll=73.386120%2C54.960240&mode=routes&rtext=~54.960286%2C73.385918&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D1079428566&z=17.55"
                               target="_blank">(&nbsp;Как&nbsp;проехать?&nbsp;)</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="map" id="map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A10f5add631e0f0e3ea7fb3bd5fff4caa995a9aaa83bb6238e806ea8deba97fd3&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

    <!-- end of contacts page content-->
{% endblock %}