{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Оборудование{% endblock %}

{% block description %}Оборудование и услуги спортивного клуба GymStudio Омск. Здесь Вы найдете описание оборудования клуба и предоставляемых услуг{% endblock %}

{% block keywords %}тренажеры, кардиозона, хамам, сауна{% endblock %}

{% block content %}
    <section class="page-header facilities-header bg-darken">
        <h1 data-aos="zoom-in-up" data-aos-duration="500">Оборудование и сервис</h1>
    </section>

    <section class="content-block-text">
        <div class="container">
            <p class="top-text">Все наше оборудование проверено и отвечает самым жестким требованиям по безопасности тренировочного процесса и соответствю естественной биомеханике.</p>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/iGIkPmmzvBU.jpg' %}" alt="Cardio Equipment">
                        <h3>Кардиозона</h3>
                        <p>Беговые дорожки, степы, элипсоид, все готово к хорошему "кардио".</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/kqFyfiIZrrM.jpg' %}" alt="Free Weights">
                        <h3>Свободные веса</h3>
                        <p>Хорошо оборудованная зона со свободными весами.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/6TfDrZWquyw.jpg' %}" alt="Group Exercise">
                        <h3>Персональный тренинг</h3>
                        <p>С тренером результаты появляются существенно быстрее.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/6mx83npLL_g.jpg' %}" alt="Functional Area">
                        <h3>Групповой тренинг</h3>
                        <p>Заняти проходят под контролем и руководством опытных тренеров.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/yKlFIFc__OE.jpg' %}" alt="Free Towels">
                        <h3>Сайклинг</h3>
                        <p>Качественная зона сайклинга.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/Pc1pQfOhd3k.jpg' %}" alt="Personal Trainer">
                        <h3>Фитнес бар</h3>
                        <p>Смузи, фреши, протеиновые коктейли и батончики на любой вкус.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/IU9AF7li0mk.jpg' %}" alt="WiFi">
                        <h3>Хамам</h3>
                        <p>Просторный, всегда горячий.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/8E2rWxResaA.jpg' %}" alt="Sauna">
                        <h3>Сауна</h3>
                        <p>Вышибет пот из самых стойких.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="facilities-item">
                        <img src="{% static 'img/oHRyj9_pID8.jpg' %}" alt="Free Parking">
                        <h3>WiFi</h3>
                        <p>Бесплатный.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

