{% extends 'mainapp/base.html' %}
{% load static %}

{#{% block title %}{% endblock %}#}

{% block description %}{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
    <!-- home page content-->
    {% include 'mainapp/includes/inc__homepage_banner.html' %}


    <section class="content-block about-main">
        <div class="container">
            <div class="home-about-text">
                <h2>Отличный спорт-клуб</h2>

                <p class="top-text">GYM STUDIO&nbsp;&mdash; это семейная фитнес студия в&nbsp;которой могут заниматься
                    все члены семьи от&nbsp;самых юных до&nbsp;людей с&nbsp;большим жизненным опытом. Уровень подготовки
                    не&nbsp;имеет значения. У&nbsp;нас любой спортсмен найдет занятие по&nbsp;себе. Будь ты&nbsp;будущий
                    атлет, который пока не&nbsp;научился подтягиваться или монстр, который жмет от&nbsp;груди 200&nbsp;&mdash;
                    мы&nbsp;тебе рады и&nbsp;сможем помочь в&nbsp;достижении твоих целей.</br>Приходи на&nbsp;гостевую
                    тренировку и&nbsp;оставайся тут жить!
                </p>
            </div>

            <div class="row">
                <div class="col-md-4">

                    <!-- Equipment & Facilities Link -->
                    <a class="about-item blink-on-hover" href="facilities.html" data-aos="fade-up">
                        <img src="{% static 'img/about-facilities.jpg' %}" alt="">
                        <span>Расписание</span>
                    </a>

                </div>
                <div class="col-md-4">

                    <!-- Personal Trainers Link -->
                    <a class="about-item blink-on-hover" href="team.html" data-aos="fade-up" data-aos-delay="200">
                        <img src="{% static 'img/about-team.jpg' %}" alt="">
                        <span>Абонементы</span>
                    </a>

                </div>
                <div class="col-md-4">

                    <!-- Membership Options Link -->
                    <a class="about-item blink-on-hover" href="{% url 'membership' %}" data-aos="fade-up"
                       data-aos-delay="400">
                        <img src="{% static 'img/about-membership.jpg' %}" alt="">
                        <span>Групповые тренировки</span>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <div class="container d-md-none">
        <h2>Довольные клиенты</h2>
    </div>

    <section class="testimonials">
        <div class="container">
            <div id="testimonials" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <!-- Reviews -->

                    {% for t in testimonials %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="client-review">
                                <div class="client-img">
                                    <img src="{{ t.photo.url }}" alt="{{ t.author }}">
                                </div>
                                <div class="client-text">
                                    <p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>{{ t.text|safe }}<i
                                            class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="name">{{ t.author }}</div>
                                    <div class="status">Тренеруется с {{ t.since }} года</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Left Arrow -->
                <a class="carousel-control-prev d-none d-md-flex" href="#testimonials" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>

                <!-- Right Arrow -->
                <a class="carousel-control-next d-none d-md-flex" href="#testimonials" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </section>

    <section class="content-block info-main">
        <div class="container">
            <h2>Что делает нас хорошим спорт-клубом</h2>

            <p class="top-text">Мы всегда старемся сделать пребывание спортсменов в клубе еще комфортнее:</p>

            <div class="row">
                <div class="col-md-6">
                    <ul data-aos="fade-right">
                        <li><strong>Доступная цена</strong> - гибкий прайс позволит выбрать абонемент по&nbsp;себе,
                            регулярно
                            проходят акции, на&nbsp;которых можно получить очень хорошее предложение
                        </li>
                        <li><strong>Хорошее оборудование</strong> - тренажеры отвечают самым жестким требованиям к
                            биомеханике и&nbsp;безопасности тренировочного процесса
                        </li>
                        <li><strong>Тренеры с огромным опытом</strong> - команда специалистов по&nbsp;спортивному
                            питанию,
                            тренировочному процессу, восстановительным тренировкам помогут добиться результата
                            максимально быстро
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul data-aos="fade-left">
                        <li><strong>Никаких депозитов и вступительных взносов</strong> - платите только за&nbsp;то, что
                            вам нужно. Нет скрытых комиссий, никаких дополнительных платежей
                        </li>
                        <li><strong>Работаем каждый день</strong> - наш клуб открыт для вас с&nbsp;7:00 до&nbsp;23:00 по&nbsp;будням
                            и
                            с&nbsp;9:00 до&nbsp;21:00 по&nbsp;выходным
                        </li>
                        <li><strong>Более 60 групповых занятий в неделю</strong> - групповые тренировки под руководством
                            опытного тренера дают отличные результаты
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h2>Фитнес</br>который ты&nbsp;полюбишь</h2>
        </div>

        <div class="owl-carousel owl-theme classes-carousel">

            <!-- Class 1 -->
            <div class="class-item blink-on-hover">
                <img src="{% static 'img/classes-yoga.jpg' %}" alt="Yoga">

                <div class="class-details">
                    <h6>Йога</h6>

                    <div class="class-details-icons">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#classDetails"
                           data-title="Yoga"
                           data-img="{% static 'img/classes-yoga.jpg' %}"
                        >
                            <i class="fa fa-info"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Описание"
                            ></i>
                        </a>
                        <a href="{% url 'schedule' %}"
                           data-toggle="tooltip"
                           data-html="true"
                           data-placement="bottom"
                           title="Расписание"
                        ><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>

            <!-- Class 2 -->
            <div class="class-item blink-on-hover">
                <img src="{% static 'img/classes-pilates.jpg' %}" alt="Pilates">

                <div class="class-details">
                    <h6>Пилатес</h6>

                    <div class="class-details-icons">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#classDetails"
                           data-title="Pilates"
                           data-img="{% static 'img/classes-pilates.jpg' %}"
                        >
                            <i class="fa fa-info"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Описание"
                            ></i>
                        </a>
                        <a href="{% url 'schedule' %}"
                           data-toggle="tooltip"
                           data-html="true"
                           data-placement="bottom"
                           title="Расписание"
                        ><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>

            <!-- Class 3 -->
            <div class="class-item blink-on-hover">
                <img src="{% static 'img/classes-stretching.jpg' %}" alt="Stretching">

                <div class="class-details">
                    <h6>Стретчинг</h6>

                    <div class="class-details-icons">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#classDetails"
                           data-title="Stretching"
                           data-img="{% static 'img/classes-stretching.jpg' %}"
                        >
                            <i class="fa fa-info"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Описание"
                            ></i>
                        </a>
                        <a href="{% url 'schedule' %}"
                           data-toggle="tooltip"
                           data-html="true"
                           data-placement="bottom"
                           title="Расписание"
                        ><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>

            <!-- Class 4 -->
            <div class="class-item blink-on-hover">
                <img src="{% static 'img/classes-core.jpg' %}" alt="Core Stability">

                <div class="class-details">
                    <h6>Сайклинг</h6>

                    <div class="class-details-icons">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#classDetails"
                           data-title="Core Stability"
                           data-img="{% static 'img/classes-core.jpg' %}"
                        >
                            <i class="fa fa-info"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Описание"
                            ></i>
                        </a>
                        <a href="{% url 'schedule' %}"
                           data-toggle="tooltip"
                           data-html="true"
                           data-placement="bottom"
                           title="Расписание"
                        ><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="content-block free-pass" data-scroll-index="0">
        <div class="container col-md-5">
            <h2>Получи скидку<br>на первое занятие</h2>

            <!-- Contact Form -->
            <form class="free-pass-form" validate>
                <div class="row" data-aos="fade-up">

                    <!-- First Name Input -->
                    <div class="col-md-12 form-group">
                        <input type="text" placeholder="Имя *" class="form-control" required/>

                        <div class="valid-feedback">
                            Вроде норм )
                        </div>
                        <div class="invalid-feedback">
                            Как к Вам можно обращаться?
                        </div>
                    </div>
                </div>


                <div class="row" data-aos="fade-up" data-aos-delay="200">
                    <!-- Phone Input -->
                    <div class="col-md-12 form-group">
                        <input type="text" placeholder="Номер телефона *" class="form-control" required/>

                        <div class="valid-feedback">
                            Норм
                        </div>
                        <div class="invalid-feedback">
                            Введите номер телефона и получите скидку :)
                        </div>
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-full-width btn-primary btn-contact" data-aos="fade-up"
                        data-aos-delay="400">ПОЛУЧИТЬ СКИДКУ
                </button>
            </form>
        </div>
    </section>

    <!-- Modals -->
    {% include 'mainapp/includes/inc__modals.html' %}
{% endblock %}
