{% extends 'mainapp/base.html' %}

{% block title %}Расписание{% endblock %}
{% block description %}Расписание групповых тренировок в GymStudio Омск{% endblock %}
{% block keywords %}расписание тренировок омск, групповые тренировки омск, групповые занятия фитнес{% endblock %}
{% block content %}
    <section class="page-header schedule-header bg-darken">
        <h1 data-aos="zoom-in-up" data-aos-duration="500">Расписание групповых занятий</h1>
    </section>

    <section class="content-block schedule">
        <div class="container">
            <div class="timetable">
                <!-- Schedule Top Navigation -->
                <nav class="nav nav-tabs">
                    <a class="nav-link {% if today_weekday == 0 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-0">ПН</a>
                    <a class="nav-link {% if today_weekday == 1 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-1">ВТ</a>
                    <a class="nav-link {% if today_weekday == 2 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-2">СР</a>
                    <a class="nav-link {% if today_weekday == 3 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-3">ЧТ</a>
                    <a class="nav-link {% if today_weekday == 4 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-4">ПТ</a>
                    <a class="nav-link {% if today_weekday == 5 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-5">СБ</a>
                    <a class="nav-link {% if today_weekday == 6 %}active{% endif %}" data-toggle="tab"
                       href="#shedule-6">ВС</a>
                </nav>

                <div class="tab-content">

                    {% for week_day, lessons in workouts.items %}
                        <div class="tab-pane fade {% if today_weekday == week_day %}show active{% endif %}"
                             id="shedule-{{ week_day }}">
                            {% if not lessons %}<p align="center" class="pt-4">На этот день занятий не запланировано.</p>{% endif %}
                            <div class="row">
                                <!-- Schedule Items -->

                                {% for lesson in lessons %}
                                    <div class="col-md-6">
                                        <div class="timetable-item">
                                            <div class="timetable-item-img">
                                                <img src="img/schedule-core.jpg" alt="Core Stability">
                                            </div>
                                            <div class="timetable-item-main">
                                                <div class="timetable-item-time">14:00 - 15:00</div>
                                                <a href="#"
                                                   class="timetable-item-name mb-sm-0"
                                                   data-toggle="modal"
                                                   data-target="#classDetails"
                                                   data-title="Core Stability"
                                                   data-img="img/classes-core.jpg"
                                                >{{ lesson.type }}</a>
                                                <span>
                                            <a href="#"
                                               class="timetable-item-name text-right"
                                               data-toggle="modal"
                                               data-target="#classDetails"
                                               data-title="Core Stability"
                                               data-img="img/classes-core.jpg"
                                            ><b>{{ lesson.trainer }}</b></a>
                                        </span>
                                                <a href="#" class="btn btn-full-width btn-default btn-book">Напомнить</a>

                                                <div class="timetable-item-intensity">
                                                    <i class="fa fa-circle"></i>
                                                    <i class="fa {% if lesson.intensity == 1 %}fa-circle-thin{% else %}fa-circle{% endif %}"></i>
                                                    <i class="fa {% if lesson.intensity == 3 %}fa-circle{% else %}fa-circle-thin{% endif %}"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </section>
{% endblock %}
