{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Тренеры{% endblock %}

{% block description %}Тренеры GymStudio Омск. Почитайте и выберите себе тренера.{% endblock %}

{% block keywords %}персональный тренер омск, тренеры джимстудио, тренер омск{% endblock %}

{% block content %}

    <section class="page-header team-header bg-darken">
        <h1 data-aos="zoom-in-up" data-aos-duration="500">Наша команда</h1>
    </section>

    <section class="content-block-text">
        <div class="container">
            <p class="top-text">Тренеры GymStudio&nbsp;&mdash; это эксперты в&nbsp;области фитнеса, спортивной медицины
                и&nbsp;спортивного
                питания.</br>Под наблюдением наших специалистов&nbsp;Вы добьетесь результатов быстро и&nbsp;безопасно
                для здоровья.</p>

            <div class="row">

                <!-- Team Members -->
                {% for t in trainers %}
                    <div class="col-md-6">
                        <div class="team-member blink-on-hover">
                            <img alt="" src="{{ t.photo.url }}">

                            <div class="team-member-hover-info">
                                <div class="social-buttons">
                                    <!-- facebook -->
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>

                                    <!-- twitter -->
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>

                                    <!-- instagram -->
                                    <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-member-info">
                                <div class="team-member-name">{{ t.name }}</div>
                                <div class="team-member-title">{{ t.position }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}