{% load static %}
<footer class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row footer-info-row">
                <!-- General Info Column -->
                <div class="col-md-4 col-sm-6 footer-info-block">
                    <h6>GymStudio</h6>
                    <p>
                        Авторский спортивный клуб от семьи тренеров Долматовых. Тренеры с 20 летним стажем.
                    </p>
                    <a
                            href="https://gym55.ru/"
                            target="_blank"
                            class="btn btn-default btn-full-width btn-buy"
                    >ПОЗВОНИТЕ МНЕ</a
                    >
                    <p>
                        Сайт сделан с <span class="love">❤</span> в студии
                        <a target="_blank" href="https://liketop.org/">Like<b>TOP</b></a>
                    </p>
                </div>

                <!-- Contacts Column -->
                <div class="col-md-3 col-sm-6 footer-info-block">
                    <h6>Контакты</h6>

                    <p>
                        г. Омск, пр. Карла Маркса, д. 32<br/>
                        <a href="tel:+73812207169">8(3812)20-71-69</a><br/>
{#                        <a href="tel:+73812207169">8(3812)20-71-69</a><br/>#}
                        <a href="mailto:vlando69@mail.ru">vlando69@mail.ru</a>
                    </p>

                    <ul class="footer-social-links">
{#                        <li><a href="#" class="fa fa-facebook"></a></li>#}
{#                        <li><a href="#" class="fa fa-twitter"></a></li>#}
                        <li><a href="https://www.instagram.com/gymstudioomsk/" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-telegram"></a></li>
                    </ul>
                </div>

                <!-- Links Column -->
                <div class="col-md-2 col-sm-6 footer-info-block">
                    <h6>Ссылки</h6>
                    <ul class="footer-links">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'facilities' %}">Оборудование</a></li>
                        <li><a href="{% url 'team' %}">Тренеры</a></li>
                        <li><a href="{% url 'membership' %}">Абонементы</a></li>
                        <li><a href="{% url 'schedule' %}">Расписание</a></li>
{#                        <li><a href="gift-cards.html">Gift Cards</a></li>#}
{#                        <li><a href="articles.html">Articles</a></li>#}
                    </ul>
                </div>

                <!-- Instagram Column -->
                <div class="col-md-3 col-sm-6 footer-info-block">
                    <h6>Instagram</h6>

                    <div class="row instagram-photos">
                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-01.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-02.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-03.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-04.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-03.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="blink-on-hover">
                                <img src="{% static 'img/instagram-05.jpg' %}" alt=""/>
                                <span class="hover-overlay"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <i class="fa fa-copyright"></i> GymStudio все права защищены.
    </div>
</footer>