<meta charset="utf-8">
<meta name="viewport" content='width=device-width, initial-scale=1, width=device-width'>
<meta name="description" content={% block description %}
    "Спортзал с правильным подходом. Тут тебе помогут добиться целей. Если ты хочешь похудеть и привести себя в порядок, или набрать массу, то тебе сюда. Помощь при составлении плана тренировок и плана питания. Поддерка от опытных тренеров, персональные тренировки и консультации диетологов."
{% endblock %}>
<meta name="keywords" content={% block keywords %}
    "тренировка, спортзал, фитнес, персональный тренер, долматов, джимстудио, gymstudio, gym studio, омск"
{% endblock %}>